@mixin profile-avatar {
    background-image: url("https://avatars.githubusercontent.com/u/11434239?v=4");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, .2);
}

@mixin box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

// Resets
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif
}

a {
  text-decoration: none;
}

// Util classes
.text-light {
  font-weight: 300;
}

.text-bold {
  font-weight: bold;
}

.row {
  display: flex;

  &--align-v-center {
    align-items: center;
  }

  &--align-h-center {
    justify-content: center;
  }
}

// Establish dashboard css grid layout - mobile
.grid {
  position: relative;
  display: grid;
  grid-template-columns: 100%; // Charts responsiveness won't work with fr units
  grid-template-rows: var(--height-header) 1fr var(--height-footer);
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;
  overflow-x: hidden;

  &--noscroll {
    overflow-y: hidden;
  }
}

// Mobile screen breakpoints (750px)
@media only screen and (min-width: 46.875em) {

  .grid {
    display: grid;
    grid-template-columns: var(--width-sidenav) calc(100% - 240px);
    grid-template-rows: var(--height-header) 1fr var(--height-footer);
    grid-template-areas:
      'sidenav header'
      'sidenav main'
      'sidenav footer';
    height: 100vh;
  }

  .sidenav {
    position: relative;
    transform: translateX(0);

    &__brand-close {
      visibility: hidden;
    }
  }

  .main-header {
    &__intro-wrapper {
      padding: 0 30px;
    }
  }

  .header {
    &__menu {
      display: none;
    }

    &__search {
      margin-left: 20px; // No menu icon; move 'er back over
    }

    &__avatar {
      width: 40px;
      height: 40px;
    }
  }
}

// Medium screens breakpoint (1050px)
@media only screen and (min-width: 65.625em) {
  .main {
    &__cards {
      column-count: 2;
    }
  }

  .main-header {
    &__intro-wrapper {
      flex-direction: row;
    }

    &__welcome {
      align-items: flex-start;
    }
  }
}
