:root {
    --white: #fff;
    --black: #000;

    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;

    --green-100: #f1f8e9;
    --green-200: #dcedc8;
    --green-300: #c5e1a5;
    --green-400: #aed581;
    --green-500: #9ccc65;
    --green-600: #8bc34a;
    --green-700: #7cb342;
    --green-800: #689f38;
    --green-900: #558b2f;

    --color-fiord: #394263;
    --color-white: #fff;
    --color-athens-gray: #EAEDF1;
    --color-catskill-white: #F9FAFC;
    --color-abbey: #777;
    --color-mischka: #DADAE3;
    --color-java: #1BBAE1;
    --color-mine-shaft: #333;
    --color-zest: #e67e22;
    --color-jungle-green: #27ae60;
    --color-cinnabar: #e74c3c;
    --color-amethyst: #af64cc;
    --color--transparent: rgba(255, 255, 255, .5);
    --color-alto: #D3D3D3;

    --height-header: 48px;
    --height-footer: 48px;
    --width-sidenav: 240px;
    --width-sidenav-collapse: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--gray-300);
    background-color: var(--gray-900);
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}